---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "pvc-0"
  namespace: {{ namespace }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ pvc_size }}
---
apiVersion: v1
kind: Pod
metadata:
  name: {{ pod_name }}
  namespace: {{ namespace }}
spec:
  volumes:
  - name: "vol-0" 
    persistentVolumeClaim:
      claimName: "pvc-0"
  containers:
  - name: data-generator
    imagePullPolicy: Always
    image: {{ image }}
    volumeMounts:
    - mountPath: "/opt/mounts/mnt1"
      name: "vol-0"
    env:
    - name: MAX_FILES
      value: "{{ max_files }}"
    - name: MIN_FILES
      value: "{{ min_files }}"
    - name: SIZE
      value: "{{ file_size }}"
    - name: ROLE
      value: generator
  - name: data-operator
    imagePullPolicy: Always
    image: {{ image }}
    volumeMounts:
    - mountPath: "/opt/mounts/mnt1"
      name: "vol-0"
    env:
    - name: BUFFER
      value: "{{ buffer }}"
    - name: ROLE
      value: operations
